.form {
  widht: 80%;
  margin: 60px auto 0;
}

.form span {
  font-size: 25px;
  margin-right: 20px;
}

.form input {
  margin-right: 30px;
}

.form button {
  border: none;
  padding: 15px;
  font-size: 20px;
  background-color: black;
  color: white; 
}